body {
  padding: 30px;
  background-color: white !important;
  color: black !important;
}

div.header{ margin-bottom: 15px; }

div button{
  border: 1px solid !important;
  transition: 0.5s;
}

button:active{
  background-color: rgb(164, 171, 255);
  border: 5px solid;
  transition: 0s linear;
}

div button:focus{ outline: none;}
div button:hover{ cursor: pointer;}

div input{
  background-color: white !important;
  border: 1px solid !important; 
}

mark { background: yellow;}
mark.current { background: rgb(164, 171, 255) }
div input:focus{ outline: none;}
.content {margin-top: 50px;}
